<ul>
  <% @users.each do |user| %>
    <li class="item">
      <%= image_tag user.photo, alt: "user photo", class: "img-fluid" %>
      <%= link_to user.name, user_path(user) %>
      <br>
      <span><%= user.posts_counter %> posts</span>
    </li>
  <% end %>
</ul>