/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

body {
  margin: 0;
  padding: 0 90px;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8ff;
  overflow: scroll;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #f1efef;
  padding: 0 120px 100px;
  box-shadow: 0 10px 10px 5px #b3b1b1bf;
  border: 1px solid #e6e3e3bf;
}

.title {
  font-size: 34px;
  font-weight: bold;
  line-height: 32px;
  color: #087697;
}

.menu {
  display: flex;
  list-style: none;
  gap: 24px;
}

.navBar {
  position: relative;
  flex: 1;
  text-align: center;
}

.user-button {
  background: #f1f3f4;
  border: none;
  cursor: pointer;
  float: right;
  outline: none;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  margin: auto auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 4px 120px;
  box-shadow: 0 10px 10px 5px #aaa9a9bf;
  border: 1px solid #e6e3e3bf;
}

.item {
  list-style-type: none;
  margin: 0 0 16px -40px;
  background-color: #fff;
  box-shadow: 0 0 2px 0 #b3b1b1bf;
}

.img-fluid {
  width: 90px;
  height: 90px;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.user-summary {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 32px;
  height: 90px;
  position: relative;
}

.span {
  position: absolute;
  bottom: 0;
  right: 16px;
}

.bio {
  list-style-type: none;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 0 2px 0 #b3b1b1bf;
  padding: 16px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px 16px;
  background-color: #fff;
}

.post-summary {
  height: 70px;
  position: relative;
}

.comment {
  list-style-type: none;
  padding: 0 16px 16px 0;
}

.post-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.see-all-button {
  font-size: 15px;
  align-self: center;
  width: 150px;
}

button a {
  text-decoration: none;
  color: #f7f2f2;
}

.will-paginate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.will-paginate-container a,
.will-paginate-container span {
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 3px;
  color: #0b5ed7;
  text-decoration: none;
  border: 1px solid #ccc;
}

.navBar a {
  display: block;
  font-size: 16px;
  padding: 8px 8px;
  text-decoration: none;
  color: #979197;
  text-transform: uppercase;
  cursor: pointer;
}

.will-paginate-container a:hover,
.will-paginate-container span.current {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.navBar a:focus {
  color: #262726f8;
}

.navBar a:hover {
  color: #262726f8;
}

.post-comments {
  padding: 16px 0;
}

.post-comments form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

button,
input[type=submit] {
  display: inline-block;
  background-color: #6e6e6e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  transition: all 0.3s ease;
  text-align: center;
  margin: 5px;
}

button:hover {
  background-color: #333;
}

.post-likes {
  padding: 0 0 24px 0;
}

.post-likes button {
  background: none;
  color: #000;
  padding: 0;
  margin: 0;
  text-align: left;
}

.new-post {
  height: 100%;
}

.new-post label {
  width: 100%;
  vertical-align: middle;
}

.new-post textarea {
  height: 200px;
}

.new-post textarea,
.post-comments form textarea,
.new-post input[type=text] {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: none;
}

.new-post input[type=text] {
  height: 30px;
}

.post-comments form textarea {
  height: 40px;
}

.devise {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 120px 100px;
  margin: 0 auto;
}

.devise input[type=email],
.devise input[type=password],
.devise input[type=text] {
  width: 100%;
  height: 25px;
  padding: 4px;
  margin-bottom: 8px;
}
